html, body {
  height: 100%;
}

/* colorless links */

.links a {
  color: inherit;
}

div > h3::first-letter {
	font-size: 200%;
}

/* list changes */

dt > dd::first-line {
	font-weight: 800;
}

dd {
	display: list-item;
  list-style-type: none;
}

dd::before, dt::before {
  font: \f105;
}


body {
  background-color: #265077;
  margin: 0;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-family: 'Roboto', 'Work Sans', sans-serif; */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  padding: 50px;
  text-align: center;
/*  background: #1E4258; */
  color: #ffffff;
  /* pattern */
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
  background: linear-gradient(to right, #2c3e50, #2980b9);
}

/* images */

.img {
  background-color: #0F2131;
  width: 100%;
  padding: 20px;
}

#profileimg {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  align-self: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('img/photo.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

/* navbar */
#active {
	color: #f5f5dc;

}

.navbar {
  display: flex;
  background-color: #022140;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #748FA8;
  color: #000000;
}

/* navbar dropdown */

.dropbutton {
  background-color: #022140;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
}

.dropbutton:hover, .dropbutton:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  /* padding: 14px 20px; */
  display: none;
  position: absolute;
  background-color: #022140;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #748FA8;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #103081;
}

/* main container */

.container {
  display: flex;
  flex-wrap: wrap;
  /* height: 100%; */
}

/* side items */

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 30%;
  background-color: #18334C;
  padding: 20px;
}

/* main items */

.main {
  flex: 70%;
  background-color: #265077;
  padding: 20px;
}

/* footer */

.footer {
  padding: 20px;
  text-align: center;
  background: #4C495D;
}

/* clickable icons in sidebar */

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 60px 0px 60px;
  color: #ffffff;
}

/* stacking */
/* main div stacking */

@media (max-width: 700px) {
  .container, .navbar {
    flex-direction: column;
  }
}

/* dropdown center button on flex stack */

@media (max-width: 700px) {
  .dropdown {
    align-self: center;
  }
}

/* responsive flex gallery */

.gallery {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.gallery div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}

.gallery div img {
  width: 100%;
  height: auto;
}