body {
  background-color: #5CDB95;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 60px;
  text-align: center;
  background: #379683;
  color: white;
}

.navbar {
  display: flex;
  background-color: #05386B;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
