body {
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.content {
  position: relative;
  margin-left: 160px;
  flex-grow: 4;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: green;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
